%a{name: 'top'}
= partial :index_nav

%h2
  %a{name: 'about'} About
%p
  Hi, I'm Karmalicious, I kindly keep track of your karma!

%h2
  %a{name: 'usage'} Usage
%ul
  %li
    To give karma to a person say
    %pre.inline Nick++
    \.
  %li
    To substract karma say
    %pre.inline Nick--
    \.
  %li You can't modify the karma of a person twice within five minutes.
  %li
    If you want me in your channel too say
    %pre.inline /msg Karmalicious !join #yourchannel
    \. 
  %li
    If you want me out of your channel say
    %pre.inline /msg Karmalicious !part #yourchannel
    \.

%h2
  %a{name: 'top50'} Top 50
%table
  %thead
    %tr
      %th Place
      %th Nick
      %th Karma
      %th Level
      %th Influence
  %tbody
    = partial :overview_entry, collection: @top50

%h2
  %a{name: 'channels'} Channels
%p
  Currently, I'm in the following channels:
  = ChannelList.reload!.to_a.sort.join(", ")

= partial :index_nav
