%a{name: 'top'}

%ul#nav
  %li
    %a{href: '#about'} About
  %li
    %a{href: '#usage'} Usage
  %li
    %a{href: '#top50'} Top 50
  %li
    %a{href: '#channels'} Channels

%h2
  %a{name: 'about'} About
%p
  Hi, I'm Karmalicous, I keep kindly track of your karma!

%h2
  %a{name: 'usage'} Usage
%ul
  %li
    To give karma to a person say
    %pre.inline Nick++
    \.
  %li
    To substract karma say
    %pre.inline Nick--
    \.
  %li You can't modify the karma of a person twice within five minutes.
  %li
    If you want me in your channel too say
    %pre.inline /msg Karmalicious !join #yourchannel
    \. 
  %li
    If you want me out of your channel say
    %pre.inline /msg Karmalicious !part #yourchannel
    \.

%h2
  %a{name: 'top50'} Top 50
%table
  %thead
    %tr
      %th Place
      %th Nick
      %th Karma
      %th Level
      %th Influence
  %tbody
    = partial :overview_entry, collection: @top50

%h2
  %a{name: 'channels'} Channels
%p
  I'm currently in the following channels:
  = ChannelList.to_a.join(",")
